---

---
## Tarefa 3.4 - Análise Exploratória e Estatística Descritiva - Medidas estatísticas utilizando Pyhton

Esta tarefa consiste analisar por meio de métodos de descrição paramétrica (medidas estatísticas) o conjunto de dados *Hourly Wages*.

Você deve implementar em Python os itens solicitados abaixo utilizando a biblioteca Pandas e outras que forem necessárias.

---



---

## Conjunto de dados *Hourly Wages*

Esse conjunto de dados é popularmente empregado para a tarefa de regressão em Machine Learning. Constrói-se e ajusta-se um modelo de aprendizado de máquina para predizer/estimar o salário de um funcionário em função de suas características (anos de estudos, experiência de trabalho, filiação sindical, região, ocupação e sexo).

- Número de Instâncias: 534

- Número de Atributos: 9 atributos numéricos e o target (*wage_per_hour*)

- Informações dos Atributos:
  - union (filiação sindical)
  - education_yrs (anos de instrução)
  - experience_yrs (anos de experiência)
  - age (idade)
  - female (sexo)
  - marr (estado civil - casado)
  - south (região)
  - manufacturing (indústria)
  - construction (construção)

  
- Variável de destino (target): wage_per_hour

## Implementar os itens abaixo:

#### a-) Clonar o repositório de dados da disciplina (DSBD) hospedado no GitHUb.

In [1]:
!git clone "https://github.com/malegopc/DSBD"

Cloning into 'DSBD'...
remote: Enumerating objects: 728, done.
remote: Counting objects: 100% (271/271), done.
remote: Compressing objects: 100% (157/157), done.
remote: Total 728 (delta 145), reused 217 (delta 111), pack-reused 457 (from 1)
Receiving objects: 100% (728/728), 14.80 MiB | 10.25 MiB/s, done.
Resolving deltas: 100% (353/353), done.

#### b-) Ler o dataset "*Hourly_wages/hourly_wages.csv*" como dataframe utilizando a biblioteca Pandas e mostrar as 5 primeiras e as 5 últimas linhas do dataset.

In [10]:
import pandas as pd

hourly_wages = pd.read_csv('/content/DSBD/Datasets/Hourly_wages/hourly_wages.csv')
print(hourly_wages.head())
print("\n\n ==================================================================================================\n\n")
print(hourly_wages.tail())

   wage_per_hour  union  education_yrs  experience_yrs  age  female  marr  \
0           5.10      0              8              21   35       1     1
1           4.95      0              9              42   57       1     1
2           6.67      0             12               1   19       0     0
3           4.00      0             12               4   22       0     0
4           7.50      0             12              17   35       0     1

   south  manufacturing  construction
0      0              1             0
1      0              1             0
2      0              1             0
3      0              0             0
4      0              0             0


 ==================================================================================================


     wage_per_hour  union  education_yrs  experience_yrs  age  female  marr  \
529          11.36      0             18               5   29       0     0
530           6.10      0             12              33   51       1     1
531          23.25      1             17              25   48       1     1
532          19.88      1             12              13   31       0     1
533          15.38      0             16              33   55       0     1

     south  manufacturing  construction
529      0              0             0
530      0              0             0
531      0              0             0
532      1              0             0
533      0              1             0

#### c-) Obter um resumo da estatística descritiva dos dados utilizando um único comando (função).

In [11]:
hourly_wages.describe()

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
count,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000
mean,9.024064,0.179775,13.018727,17.822097,36.833333,0.458801,0.655431,0.292135,0.185393,0.044944
std,5.139097,0.384360,2.615373,12.379710,11.726573,0.498767,0.475673,0.455170,0.388981,0.207375
min,1.000000,0.000000,2.000000,0.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.250000,0.000000,12.000000,8.000000,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,7.780000,0.000000,12.000000,15.000000,35.000000,0.000000,1.000000,0.000000,0.000000,0.000000
75%,11.250000,0.000000,15.000000,26.000000,44.000000,1.000000,1.000000,1.000000,0.000000,0.000000
max,44.500000,1.000000,18.000000,55.000000,64.000000,1.000000,1.000000,1.000000,1.000000,1.000000

#### d-) Calcule a proporção de funcionários de sexo masculino e feminino.

In [17]:
female_count = hourly_wages['female'].sum()
male_count = len(hourly_wages) - female_count
total_count = len(hourly_wages)

female_proportion = female_count / total_count
male_proportion = male_count / total_count

print(f"Proporção de funcionárias do sexo feminino: {female_proportion:.2f}")
print(f"Proporção de funcionários do sexo masculino: {male_proportion:.2f}")

Proporção de funcionárias do sexo feminino: 0.46
Proporção de funcionários do sexo masculino: 0.54

#### e-) Calcule a proporção de casados e solteiros.

In [18]:
married_count = hourly_wages['marr'].sum()
single_count = len(hourly_wages) - married_count
total_count = len(hourly_wages)

married_proportion = married_count / total_count
single_proportion = single_count / total_count

print(f"Proporção de casados: {married_proportion:.2f}")
print(f"Proporção de solteiros: {single_proportion:.2f}")

Proporção de casados: 0.66
Proporção de solteiros: 0.34

#### f-) Calcule as médias de cada uma das variáveis: anos de educação, anos de experiência e idade

In [28]:
education_yrs_mean = hourly_wages['education_yrs'].mean()
experience_yrs_mean = hourly_wages['experience_yrs'].mean()
age_mean = hourly_wages['age'].mean()

print(f"Média de anos de educação: {education_yrs_mean:.2f}")
print(f"Média de anos de experiência: {experience_yrs_mean:.2f}")
print(f"Média de idade: {age_mean:.2f}")

Média de anos de educação: 13.02
Média de anos de experiência: 17.82
Média de idade: 36.83

#### g-) Calcule as medianas de cada uma das variáveis: anos de educação, anos de experiência e idade.

In [29]:
education_yrs_median = hourly_wages['education_yrs'].median()
experience_yrs_median = hourly_wages['experience_yrs'].median()
age_median = hourly_wages['age'].median()

print(f"Mediana de anos de educação: {education_yrs_median:.2f}")
print(f"Mediana de anos de experiência: {experience_yrs_median:.2f}")
print(f"Mediana de idade: {age_median:.2f}")

Mediana de anos de educação: 12.00
Mediana de anos de experiência: 15.00
Mediana de idade: 35.00

####h-) Calcule as modas de cada uma das variáveis: anos de educação, anos de experiência e idade.

In [34]:
education_yrs_mode = hourly_wages['education_yrs'].mode()[0]
experience_yrs_mode = hourly_wages['experience_yrs'].mode()[0]
age_mode = hourly_wages['age'].mode()[0]

print(f"Moda de anos de educação: {education_yrs_mode}")
print(f"Moda de anos de experiência: {experience_yrs_mode}")
print(f"Moda de idade: {age_mode}")

Moda de anos de educação: 12
Moda de anos de experiência: 14
Moda de idade: 32

####i-) Analisando especificamente a variável **idade**, responda: qual é a idade do conjunto de dados em que **70%** dos funcionários apresentam idade inferior?

In [35]:
age_70_percentile = hourly_wages['age'].quantile(0.70)
print(f"A idade em que 70% dos funcionários apresentam idade inferior é: {age_70_percentile:.2f}")

A idade em que 70% dos funcionários apresentam idade inferior é: 42.00

####j-) Analisando especificamente a variável **anos de experiência**, responda: qual é a quantidade de anos de experiência no conjunto de dados em que 10% dos funcionários ainda não possuem?

In [36]:
experience_yrs_10_percentile = hourly_wages['experience_yrs'].quantile(0.10)
print(f"A quantidade de anos de experiência em que 10% dos funcionários ainda não possuem é: {experience_yrs_10_percentile:.2f}")

A quantidade de anos de experiência em que 10% dos funcionários ainda não possuem é: 3.00

####k-) Calcule o desvio-padrão de cada um dos atributos: anos de educação, anos de experiência e idade.

In [37]:
education_yrs_std = hourly_wages['education_yrs'].std()
experience_yrs_std = hourly_wages['experience_yrs'].std()
age_std = hourly_wages['age'].std()

print(f"Desvio padrão de anos de educação: {education_yrs_std:.2f}")
print(f"Desvio padrão de anos de experiência: {experience_yrs_std:.2f}")
print(f"Desvio padrão de idade: {age_std:.2f}")

Desvio padrão de anos de educação: 2.62
Desvio padrão de anos de experiência: 12.38
Desvio padrão de idade: 11.73

####l-) Determine qual dos três atributos apresenta maior variabilidade: anos de educação, anos de experiência ou idade? Justifique a sua resposta.

In [ ]:
# prompt: Determine qual dos três atributos apresenta maior variabilidade: anos de educação, anos de experiência ou idade? Justifique a sua resposta.

# Comparando os desvios padrão para determinar a maior variabilidade
std_devs = {
    'education_yrs': education_yrs_std,
    'experience_yrs': experience_yrs_std,
    'age': age_std
}

attribute_with_highest_std = max(std_devs, key=std_devs.get)

print(f"O atributo com maior variabilidade é: {attribute_with_highest_std}")
print("Justificativa: O desvio padrão mede a dispersão dos dados em relação à média. Um desvio padrão maior indica uma maior variabilidade nos dados.")
print(f"O desvio padrão de '{attribute_with_highest_std}' é {std_devs[attribute_with_highest_std]:.2f}, o que é maior do que os outros dois atributos.")

####m-) Leia o conjunto de dados [Atlas_Brasil_2014.csv](https://github.com/malegopc/DSBD/blob/main/Datasets/Atlas/Atlas_Brasil_2014.csv)

In [38]:
atlas_brasil = pd.read_csv('/content/DSBD/Datasets/Atlas/Atlas_Brasil_2014.csv')

n-) Calcule a média do IDHM.

In [39]:
media_idh = atlas_brasil['IDHM'].mean()
print(f"A média do IDHM é: {media_idh:.2f}")

A média do IDHM é: 0.74

o-) Qual é a taxa de mortalidade em que 50% dos estados apresentam taxa inferior?

In [43]:
mortalidade_50_percentile = atlas_brasil['MORT1'].quantile(0.50)
print(f"A taxa de mortalidade em que 50% dos estados apresentam taxa inferior é: {mortalidade_50_percentile:.2f}")

A taxa de mortalidade em que 50% dos estados apresentam taxa inferior é: 16.86

p-) Calcule qual o valor de RDPC (renda per capita) em que 25% dos estados apresentam valor superior.

In [44]:
rendapercapita_25_percentile = atlas_brasil['RDPC'].quantile(0.25)
print(f"O valor de RDPC em que 25% dos estados apresentam valor superior é: {rendapercapita_25_percentile:.2f}")

O valor de RDPC em que 25% dos estados apresentam valor superior é: 530.58

q-) Determine dentre as duas variáveis: T_ANALF25M (Taxa de analfabetismo - 25 anos ou mais) ou RDPC (Renda per capita média), qual apresenta maior variabilidade. Justifique a sua resposta.

In [49]:
taxanalfabetismo_25_percentile_std = atlas_brasil['T_ANALF25M'].std()
rendapercapita_std = atlas_brasil['RDPC'].std()

if taxanalfabetismo_25_percentile_std > rendapercapita_std:
    print("A variável 'T_ANALF25M' apresenta maior variabilidade.")
else:
    print("A variável 'RDPC' apresenta maior variabilidade.")

A variável 'RDPC' apresenta maior variabilidade.